.aditya-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/aditya.jpeg'); }
.bujji-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/WhatsApp Image 2020-04-01 at 5.46.03 PM.jpeg'); }
.ajay-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/ajay.jpg'); }
.asma-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/asma.jpeg'); }
.shriya-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/shriya-ece.jpg'); }
.pavanid-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/Screenshot_20200331-125802_Photos.jpg'); }
.asna-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/asna.jpg'); }
.anish-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/anish.jpg'); }
.asna-maheen-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/asna-maheen.jpg'); }
.bhavana-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/bhavana.jpg'); }
.deekshita-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/deekshitha.jpeg'); }
.dhruthiee-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/dhruthiee.jpeg'); }
.gaurav-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/gaurav.jpg'); }
.harika-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/harika.jpeg'); }
.harika_ghantasala-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/harika_ghantasala.jpg'); }
.indu-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/indu.jpg'); }
.jaideep-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/jaideep.jpg'); }
.jinna_hrudaya-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/jinna_hrudaya.jpeg'); }
.likhith-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/mypic.png'); }
.katta_ananth-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/katta_ananth.jpg'); }
.Kranthi_kumar-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/Kranthi_kumar.jpeg'); }
.niharika-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/niharika.jpg'); }
.nissy_carolin-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/nissy_carolin.jpg'); }
.poorna_sree-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/poorna_sree.jpg'); }
.pranay-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/pranay.jpg'); }
.praneeth_kumar-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/praneeth_kumar.jpeg'); }
.rahul_bharadwaj-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/rahul_bharadwaj.jpg'); }
.rakshit_sarapu-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/rakshit_sarapu.jpg'); }
.rangu_manohar-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/rangu manohar.jpeg'); }
.rithika-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/rithika.jpeg'); }
.roshini-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/roshini.jpg'); }
.sathvika-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/sathvika.jpg'); }
.shashidhar-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/shashidhar.jpeg'); }
.sohith_akana-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/sohith_akana.jpg'); }
.sagarika-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/sagarika.jpg'); }
.satish-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/satish_kumar.png'); }
.tejesh-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/tejesh.JPG'); }
.m_vaishnavi-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/vaishnavi.jpg'); }
.vaishnavi_reddy-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/vaishnavi_reddy.jpg'); }
.Vamshi-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/Vamshi.jpg'); }
.yashwanth-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/yashwanth.jpg'); }
.asna-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/IMG_20200331_125736.jpg'); }

.sai_charan-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/sai_charan_l.jpg'); }
.jvr_sir-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/jvr_sir.jpg'); }
.Vamshi-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/Vamshi.jpg'); }
.poorna_sree-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/poorna_sree.jpg'); }
.roshini-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/roshini.jpg'); }
.sathvika-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/sathvika.jpg'); }
.vaishnavi-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/vaishnavi.jpg'); }
.vaishnavi_reddy-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/vaishnavi_reddy.jpg'); }
.harika_ghantasalas-img{ background-image: url('https://ieeevardhaman.org/public/assets/img/slate-2020/harika_ghantasala.jpg'); }

/*---------------------------Images Completed------------------------------------------*/
